<% if @activity.errors.any? %>
  The form contains <%= pluralize(@event.errors.count, "error") %>.

  <ul> 
    <% @activity.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul
<% end %>

